//IMPORT
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap');

//VARIABLES

$main_color: rgb(175, 154, 99);
$main_font: 'Raleway', sans-serif;


//BASIC CSS RESET
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $main_color;
  font-family: $main_font;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

//HEADER & MENU

nav li {
  display: inline-block;
  text-transform: uppercase;
  color: $main_color;
  margin-right: 60px;
}

@media only screen and (max-width: 1480px) {
  nav li {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 768px) {
    nav li {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

nav a {
    color: $main_color;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 768px) {
    nav a {
        align-items: center;
        justify-content: center;
    }
}

nav a:hover {
    color: rgb(45, 52, 57);
}

nav ul li::before {
  content: " ";
  border-left: 2px solid rgb(232, 233, 233);
  height: 81px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
    nav ul li::before {
        display: none;
    }
}

nav ul li::before:hover {
    border-left: 2px solid rgb(45, 52, 57);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 5%;
  position: relative;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1480px) {
  .header {
      flex-direction: column;
      align-items: center;
  }
}

@media only screen and (max-width: 1080px) {
  .header {
    padding: 5%;
  }
}

.header__logo {
  background-image: url("../images/logo.png");
  width: 140px;
  height: 140px;
  margin-top: 20px;
}

@media only screen and (max-width: 1480px) {
  .header__logo {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px){
    .header__logo{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1480px) {
  .header__menu {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.hamburger {
    display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 20px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $main_color;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

//SLIDER
.slider {
    width: 100%;
    height: auto;
    padding: 50px;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .slider {
        padding: 0;
    }
}

.slide {
    width: 100%;
    height: 1100px;
    background-size: cover;
    background-position: top;
}

.slick-slide {
    height: 1100px !important;
}

@media only screen and (max-width: 1480px) {
    .slick-slide {
        height: 800px !important;
    }
}

@media only screen and (max-width: 768px) {
    .slick-slide {
        height: 400px !important;
    }
}

@media only screen and (max-width: 768px) {
    .slide {
        margin-top: 50px;
    }
}

.slide--1 {
    background-image: url("../images/slider1.png");
}

.slide__title {
    font-size: 60px;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

@media only screen and (max-width: 1480px) {
    .slide__title {
        font-size: 30px;
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .slide__title {
        font-size: 20px;
        padding: 15px;
    }
}

.slide__title--black {
    color: rgb(45, 52, 57);
}

.slide__title--small {
    font-size: 42px;
}

@media only screen and (max-width: 768px) {
    .slide__title--small {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1480px) {
    .slide__title--small {
        font-size: 24px;
    }
}

.slick-dots button {
    width: 350px;
    border: none;
    background: none;
    text-align: left;
    order: 2;
    color: gray;
    font-size: 1.5em;
    opacity: 0.5;
}

@media only screen and (max-width: 768px) {
    .slick-dots button {
        width: 150px;
    }
}

.slick-active {
    order: 1
}

.slick-active button {
    border-bottom: 1px solid $main_color;
    color: $main_color;
    opacity: 1;
}

.slick-dots {
    position: absolute;
    top: 10px;
    left: 50px;
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 768px) {
    .slick-dots {
        left: 10px;
    }
}

//WELCOME SECTION

.welcome {
    width: 100%;
    height: 790px;
    background-image: url("../images/welcome.png");
    padding-top: 150px;
    padding-left: 10%;
    margin-top: -100px;
    z-index: 99;
    background-size: cover;
    background-position: right;
}

@media only screen and (max-width: 1480px) {
    .welcome {
        height: auto;
        padding-bottom: 100px;
    }
}

.welcome__title {
    width: 40%;
    color: rgb(251, 251, 251);
    font-size: 42px;
    font-weight: 200;
    padding-bottom: 30px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .welcome__title {
        font-size: 20px;
    }
 }

@media only screen and (max-width: 1480px) {
    .welcome__title {
        width: 60%
    }
}

.welcome__title--subtitle {
    color: $main_color;
    font-size: 28px;
}

.welcome__paragraph {
    padding-top: 20px;
    font-size: 14px;
    width: 35%;
    color: rgb(251, 251, 251);
}

@media only screen and (max-width: 1480px) {
    .welcome__paragraph {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .welcome__paragraph {
        width: 95%;
    }
}

.welcome__paragraph:first-of-type {
    padding-top: 0;
}

.menu__items {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .menu__items {
        grid-auto-flow: row;
    }
}

.gold-bar {
    width: 120px;
    height: 20px;
    background-color: $main_color;
    position: absolute;
    right: 0;
    bottom: 55px;
}

@media only screen and (max-width: 1480px) {
  .gold-bar {
    bottom: 0;
    width: 80px;
  }
}

@media only screen and (max-width: 1080px) {
  .gold-bar {
    display: none;
  }
}
